.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 10px 50px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__nav__link {
  text-decoration: none;
  font-size: 0;
}
.header__nav__link__img {
  width: 170px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(216deg) brightness(103%) contrast(103%);
}
.header__nav__menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.header__nav__menu__item__link {
  display: flex;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}